<div class="modal fade" bsModal #modalAccountInfo="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Thông tin tài khoản</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalAccountInfo.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <img class="img-responsive avatar-view" src="{{user.AVATAR}}" alt="Avatar" title="Change the avatar" style="width: 200px; height: 200px;">
                                    </div>
                                </div>
                                <br />
                                <h4>UserName: {{user.USER_NAME}}</h4>
                                <h4>AccountId: {{user.ACCOUNT_ID}}</h4>
                                <ul class="list-unstyled user_data">
                                    <li><i class="fa fa-map-marker user-profile-icon"></i>{{companyName}}
                                    </li>
                                    <!-- <li>
                      <i class="fa fa-briefcase user-profile-icon"></i>.Net Developer
                    </li> -->
                                    <li class="m-top-xs">
                                        <i class="fa fa-external-link user-profile-icon"></i>
                                        <a href="http://gw.onesms.vn" target="_blank">http://gw.onesms.vn</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone user-profile-icon"></i>{{phone}}
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope user-profile-icon"></i>{{email}}
                                    </li>
                                </ul>
                                <br />
                                <button class="btn btn-success" (click)="showEditInfo()"><i class="fa fa-edit m-right-xs"></i> Sửa thông
                  tin</button>
                                <br />
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <h2 style="margin-bottom: 10px">Lịch sử hoạt động</h2>
                                <div class="table-responsive" style="min-height: 230px">
                                    <table class="table table-bordered clear-bottom">
                                        <thead>
                                            <tr>
                                                <th class="text-center col-min-width">STT</th>
                                                <th class="text-center">IP khách hàng</th>
                                                <th class="text-center">Thời gian</th>
                                                <th class="text-center">Hành động</th>
                                                <th class="text-center">Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-content">
                                            <tr *ngFor="let log of dataLog">
                                                <td class="text-center">{{log.STT}}</td>
                                                <td class="text-center">{{log.IP}}</td>
                                                <td class="text-center">{{log.CREATE_DATE}}</td>
                                                <td>{{log.ACTION}}</td>
                                                <td><textarea style="height: 40px; min-height: 40px; min-width: 100px; max-width: 700px; width: 100%;" readonly>{{log.DESCRIPTION}}</textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row box-pagination">
                                    <div class="col-md-6 col-sm-6 col-xs-6 minibox" style="margin: 25px 0 0 0">
                                        Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }} trang. Hiển thị
                                        <select (change)="changePageSize($event.target.value)" [value]="pagination.pageSize">
                                            <option value="20" selected="">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="99999999">Tất cả</option>
                    </select> bản ghi.
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 minibox" style="margin-bottom:10px">
                                        <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize" [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)" (numPages)="pagination.totalPage = $event" [(ngModel)]="pagination.pageIndex" [rotate]="true" [maxSize]="5"
                                            class="pagination-sm content-end" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" (click)="modalAccountInfo.hide()">{{ 'global.cancel' | translate }}</button>
            </div>
        </div>

        <!-- modal xác nhận reset password-->
        <div class="modal fade" bsModal #editInfoModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
            <div class="modal-dialog modal-lg" style="width: 50%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-static-name" class="modal-title pull-left">Sửa thông tin</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="editInfoModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <form [formGroup]="formEditInfo">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Công ty</label>
                                            <input type="text" class="form-control" formControlName="company" maxlength="500" placeholder="Nhập tên công ty" ngModel>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Email</label>
                                            <input type="text" class="form-control" formControlName="email" maxlength="20" placeholder="Nhập email" ngModel>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>{{'global.avatar' | translate}}</label>
                                            <input type="file" #uploadImageEdit class="form-control" (change)="submitUploadImageEdit()">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <img src="{{ urlImageUploadEdit == null ? user.AVATAR : urlImageUploadEdit}}" style="width: 150px; height: 150px;" />
                                            <label class="remove-node" (click)="removeImage()"><i class="fa fa-times-circle"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" (click)="editInfoModal.hide()">{{'global.cancel' | translate}}</button>
                            <button type="button" (click)="editInforAccount()" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>