<article>
    <section>
        <div class="page-title clearfix">
            <div class="title_left">
                <h3>{{ 'scenarios.title' | translate }}</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                            <div class="row">
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <input type="text" class="form-control" name="inCodeScenar"
                                        [(ngModel)]="inCodeScenar"
                                        placeholder="{{ 'scenarios.inCode_scenar' | translate }}">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <input type="text" class="form-control" name="inNameScenar"
                                        [(ngModel)]="inNameScenar"
                                        placeholder="{{ 'scenarios.inName_scenar' | translate }}">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <angular2-multiselect [data]="dataStatus" [(ngModel)]="selectedStatus"
                                        [settings]="settingsFilterStatus" name="status"
                                        (onSelect)="ChangeDropdownList()" (onDeSelect)="ChangeDropdownList()">
                                    </angular2-multiselect>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-6">
                                    <button type="button" style="float: right;" (click)="getData()"
                                        class="btn btn-primary btn-sm">{{ 'global.search' | translate }}</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <div class="form-group has-feedback content-end">
                                    <button type="button" class="btn btn-primary btn-sm" *ngIf="role.IS_ADD"
                                        (click)="showModalCreate.show()">{{ 'global.add_new' | translate }}</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 form-group has-feedback">
                                <div class="table-responsive">
                                    <table class="table table-bordered clear-bottom">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:5%">STT</th>
                                                <th class="text-center" style="white-space: nowrap;">
                                                    {{ 'scenarios.code_scenar' | translate }}</th>
                                                <th class="text-center" style="width:15%">
                                                    {{ 'scenarios.name_scenar' | translate }}</th>
                                                <th class="text-center">{{ 'scenarios.value' | translate }}</th>
                                                <th class="text-center" style="white-space: nowrap;">
                                                    {{ 'scenarios.data' | translate }}
                                                </th>
                                                <th class="text-center" style="white-space: nowrap;">
                                                    {{ 'scenarios.start_date' | translate }}
                                                </th>
                                                <th class="text-center" style="white-space: nowrap;">
                                                    {{ 'scenarios.end_date' | translate }}
                                                </th>
                                                <th class="text-center" style="white-space: nowrap;">
                                                    {{ 'scenarios.active' | translate }}
                                                </th>
                                                <th class="text-center" style="width:8%">{{ 'global.tool' | translate }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataScenarios; let i = index" [attr.data-index]="i">
                                                <td class="text-center" scope="row">{{i+1}}</td>
                                                <td>{{item.CODE}}</td>
                                                <td>{{item.NAME}}</td>
                                                <td>{{item.VALUE}}</td>
                                                <td>{{item.DATA}}</td>
                                                <td>{{item.START_DATE}}</td>
                                                <td>{{item.END_DATE}}</td>
                                                <td class="box-checkbox-table"><input type="checkbox"
                                                        [checked]="item.IS_ACTIVE == 1 ? true : false" class="checkbox"
                                                        disabled></td>
                                                <td class="text-center">
                                                    <div class="tool">
                                                        <button type="submit" (click)="confirmUpdateModal(item.ID)"
                                                            *ngIf="role.IS_EDIT"
                                                            class="btn btn-success btn-sm">{{ 'global.edit' | translate }}</button>
                                                        <button type="button" class="btn btn-danger btn-sm"
                                                            *ngIf="role.IS_DELETE"
                                                            (click)="showConfirmDelete(item.ID, item.NAME)">{{ 'global.delete' | translate }}</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                                        Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }}
                                        trang. Hiển thị
                                        <select (change)="changePageSize($event.target.value)">
                                            <option value="5" selected="">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="99999999">Tất cả</option>
                                        </select>
                                        bản ghi.
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 minibox" style="margin-bottom:10px">
                                        <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                                            [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                                            (numPages)="pagination.totalPage = $event"
                                            [(ngModel)]="pagination.pageIndex" [rotate]="true" [maxSize]="5"
                                            class="pagination-sm content-end" previousText="&lsaquo;"
                                            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<!-- Thêm kịch bản -->
<div class="modal fade" bsModal #showModalCreate="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'scenarios.add' | translate}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="showModalCreate.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #formAdd="ngForm" (ngSubmit)="createScenarios(formAdd)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.code_scenar' | translate}}</label>
                            <input type="text" class="form-control" name="code" ngModel
                                placeholder="{{ 'scenarios.inCode_scenar' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.name_scenar' | translate}}</label>
                            <input type="text" class="form-control" name="name"
                                placeholder="{{ 'scenarios.inName_scenar' | translate }}" ngModel>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.value' | translate}}</label>
                            <input type="number" class="form-control" name="valueScenar"
                                placeholder="{{ 'scenarios.inValue' | translate }}" ngModel>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.data' | translate}}</label>
                            <input type="number" class="form-control" name="dataScenar"
                                placeholder="{{ 'scenarios.inData' | translate }}" ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.start_date' | translate}}</label>
                            <input type="text" class="form-control" name="startDate" bsDatepicker
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="startDate"
                                placeholder="{{ 'scenarios.start_date' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.end_date' | translate}}</label>
                            <input type="text" class="form-control" name="endDate" bsDatepicker
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="endDate"
                                placeholder="{{ 'scenarios.end_date' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <label>&nbsp;</label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="checkbox" name="checkActive"
                                        [(ngModel)]="isActive">
                                    <span>{{'scenarios.active' | translate}}</span> </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        (click)="showModalCreate.hide()">{{ 'global.cancel' | translate }}</button>
                    <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal sửa kịch bản-->
<div class="modal fade" bsModal #showModalUpdate="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'sms_template.edit_sms_temp' | translate}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="showModalUpdate.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="formEditScenarios" (ngSubmit)="editScenarios()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.code_scenar' | translate}}</label>
                            <input type="hidden" formControlName="id">
                            <input type="text" class="form-control" formControlName="code"
                                placeholder="{{ 'scenarios.inCode_scenar' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.name_scenar' | translate}}</label>
                            <input type="text" class="form-control" formControlName="name"
                                placeholder="{{ 'scenarios.inName_scenar' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.value' | translate}}</label>
                            <input type="number" class="form-control" formControlName="valueScenar"
                                placeholder="{{ 'scenarios.inValue' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'scenarios.data' | translate}}</label>
                            <input type="number" class="form-control" formControlName="dataScenar"
                                placeholder="{{ 'scenarios.inData' | translate }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <input type="text" class="form-control" formControlName="startDate" bsDatepicker
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}"
                                placeholder="{{ 'scenarios.start_date' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <input type="text" class="form-control" formControlName="endDate" bsDatepicker
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}"
                                placeholder="{{ 'scenarios.end_date' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="checkbox" formControlName="isActive">
                                    <span>{{'scenarios.active' | translate}}</span> </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        (click)="showModalUpdate.hide()">{{ 'global.cancel' | translate }}</button>
                    <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal xác nhận xóa kịch bản-->
<div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.delete' | translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>{{'scenarios.delete_notify' | translate}} "<b class="text-success">{{name}}</b>"?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    (click)="confirmDeleteModal.hide()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success"
                    (click)="confirmDelete(id)">{{'global.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div>