<article>
    <section>
        <div class="page-title clearfix">
            <div class="title_left">
                <h3>{{ 'mapping.mapping' | translate }}</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <form class="row form-horizontal form-label-left input_mask">
                            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                                <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedItemComboboxAccount" [settings]="settingsFilterAccount" (onSelect)="ChangeDropdownList()" (onDeSelect)="deSelectAccount()" name="accountID">
                                </angular2-multiselect>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                                <angular2-multiselect [data]="dataSender" [(ngModel)]="selectedItemComboboxSender" [settings]="settingsFilterSender" (onSelect)="ChangeDropdownList()" (onDeSelect)="deSelectAccount()" name="senderID">
                                </angular2-multiselect>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <button type="button" style="float: right; margin-right: 0;" (click)="getData()" class="btn btn-primary btn-sm">{{ 'global.search' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <div class="form-group has-feedback content-end">
                                    <button type="button" class="btn btn-primary btn-sm" *ngIf="role.IS_ADD" (click)="confimShowModalCreate()">{{ 'global.add_new' | translate }}</button>
                                    <button type="submit" class="btn btn-success btn-sm" (click)="exportExcel()">{{ 'global.export_excel' | translate }}</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 form-group has-feedback">
                                <div class="table-responsive">
                                    <table class="table table-bordered clear-bottom">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:5%">STT</th>
                                                <th class="text-center">{{'mapping.account' | translate}}</th>
                                                <th class="text-center">{{'mapping.sender_name' | translate}}</th>
                                                <th class="text-center">{{ 'global.tool' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataSenderMapping; let i = index" [attr.data-index]="i">
                                                <td class="text-center" scope="row">{{i+1}}</td>
                                                <td>{{item.USER_NAME}}</td>
                                                <td>{{item.NAME}}</td>
                                                <td class="text-center">
                                                    <div class="tool">
                                                        <button type="submit" (click)="confirmUpdateModal(item.ID)" *ngIf="role.IS_EDIT" class="btn btn-success btn-sm">{{ 'global.edit' | translate }}</button>
                                                        <button type="button" class="btn btn-danger btn-sm" *ngIf="role.IS_DELETE" (click)="showConfirmDelete(number.ID)">{{ 'global.delete' | translate }}</button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                                        Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }} trang. Hiển thị
                                        <select (change)="changePageSize($event.target.value)">
                        <option value="10" selected="">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="99999999">Tất cả</option>
                      </select> bản ghi.
                                    </div>
                                    <div class="col-md-6 col-sm-6" style="margin-bottom:10px">
                                        <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize" [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)" (numPages)="pagination.totalPage = $event" [(ngModel)]="pagination.pageIndex" [rotate]="true" [maxSize]="5"
                                            class="pagination-sm content-end" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<!-- Thêm accountsender -->
<div class="modal fade" bsModal #showModalCreate="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'mapping.add_mapping' | translate}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="showModalCreate.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form #formAdd="ngForm" (ngSubmit)="createMapping(formAdd)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>{{'mapping.account' | translate}} <span style="color:red;">(*)</span></label>
                            <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccountID" [settings]="settingsFilterAccount" name="accountID">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>{{'mapping.sender_name' | translate}} <span style="color:red;">(*)</span></label>
                            <angular2-multiselect [data]="dataSender" [(ngModel)]="selectedItemComboboxSender" [settings]="settingsFilterSender" name="senderID">
                            </angular2-multiselect>
                        </div>
                        <!-- <div class="col-md-1 col-sm-6 col-xs-12" style="text-align: center;">
                            <label style="margin-top: 30px;">VIETTEL</label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <label>{{'mapping.port' | translate}}</label>
                            <angular2-multiselect [data]="dataPartner" [(ngModel)]="selectedItemComboboxPartnerViettel" [settings]="settingsFilterPartner" name="partnerViettel">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.maintaining_fee' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="maintainingFeeViettel" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderViettel" ngModel>
                        </div> -->
                        <!-- <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order_tamp' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderTampViettel" ngModel>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.time_reset' | translate}}</label>
                            <input type="number" class="form-control modal-popup" name="timeResetViettel" ngModel>
                        </div> -->
                        <!-- <div class="col-md-1 col-sm-6 col-xs-12">
                            <label></label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="checkbox" name="activeViettel"
                      [(ngModel)]="checkActiveViettel">
                    <span>{{'mapping.active' | translate}}</span> </label>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="row" style="padding-top:10px"> -->
                    <!-- <div class="col-md-2 col-sm-6 col-xs-12">
                            <label>{{'mapping.sender_name' | translate}} <span style="color:red;">(*)</span></label>
                            <angular2-multiselect [data]="dataSender" [(ngModel)]="selectedItemComboboxSender" [settings]="settingsFilterSender" name="sender">
                            </angular2-multiselect>
                        </div> -->
                    <!-- <div class="col-md-1 col-sm-6 col-xs-12" style="text-align: center;">
                            <label style="margin-top: 30px;">GPC</label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <label>{{'mapping.port' | translate}}</label>
                            <angular2-multiselect [data]="dataPartner" [(ngModel)]="selectedItemComboboxPartnerGPC" [settings]="settingsFilterPartner" name="partnerGPC">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.maintaining_fee' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="maintainingFeeGPC" ngModel>
                        </div> -->
                    <!-- <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderGPC" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order_tamp' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderTampGPC" ngModel>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.time_reset' | translate}}</label>
                            <input type="number" class="form-control modal-popup" name="timeResetGPC" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12">
                            <label></label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="checkbox" name="activeGPC" [(ngModel)]="checkActiveGPC">
                    <span>{{'mapping.active' | translate}}</span> </label>
                            </div>
                        </div> -->
                    <!-- </div> -->
                    <!-- <div class="row" style="padding-top:10px">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12" style="text-align: center;">
                            <label style="margin-top: 30px;">VMS</label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <label>{{'mapping.port' | translate}}</label>
                            <angular2-multiselect [data]="dataPartner" [(ngModel)]="selectedItemComboboxPartnerVMS" [settings]="settingsFilterPartner" name="partnerVMS">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.maintaining_fee' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="maintainingFeeVMS" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderVMS" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order_tamp' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderTampVMS" ngModel>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.time_reset' | translate}}</label>
                            <input type="number" class="form-control modal-popup" name="timeResetVMS" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12">
                            <label></label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="checkbox" name="activeVMS" [(ngModel)]="checkActiveVMS">
                    <span>{{'mapping.active' | translate}}</span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-2 col-sm-6 col-xs-12"></div>
                        <div class="col-md-1 col-sm-6 col-xs-12" style="text-align: center;">
                            <label style="margin-top: 30px;">VNM</label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <label>{{'mapping.port' | translate}}</label>
                            <angular2-multiselect [data]="dataPartner" [(ngModel)]="selectedItemComboboxPartnerVNM" [settings]="settingsFilterPartner" name="partnerVNM">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.maintaining_fee' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="maintainingFeeVNM" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderVNM" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order_tamp' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderTampVNM" ngModel>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.time_reset' | translate}}</label>
                            <input type="number" class="form-control modal-popup" name="timeResetVNM" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12">
                            <label></label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="checkbox" name="activeVNM" [(ngModel)]="checkActiveVNM">
                    <span>{{'mapping.active' | translate}}</span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-2 col-sm-6 col-xs-12"></div>
                        <div class="col-md-1 col-sm-6 col-xs-12" style="text-align: center;">
                            <label style="margin-top: 30px;">GTEL</label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <label>{{'mapping.port' | translate}}</label>
                            <angular2-multiselect [data]="dataPartner" [(ngModel)]="selectedItemComboboxPartnerGtel" [settings]="settingsFilterPartner" name="partnerGtel">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.maintaining_fee' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="maintainingFeeGtel" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderGtel" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order_tamp' | translate}}</label>
                            <input type="text" class="form-control modal-popup" name="orderTampGtel" ngModel>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.time_reset' | translate}}</label>
                            <input type="number" class="form-control modal-popup" name="timeResetGtel" ngModel>
                        </div>
                        <div class="col-md-1 col-sm-6 col-xs-12">
                            <label></label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="checkbox" name="activeGtel" [(ngModel)]="checkActiveGtel">
                    <span>{{'mapping.active' | translate}}</span> </label>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="showModalCreate.hide()">{{ 'global.cancel' | translate }}</button>
                    <button type="submit" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal sửa phân luồng -->
<div class="modal fade" bsModal #showModalUpdate="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'partner.edit_partner' | translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="showModalUpdate.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form [formGroup]="formEditMapping">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <label>{{'mapping.account' | translate}} <span style="color:red;">(*)</span></label>
                            <!-- <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccountID"
                  [settings]="settingsFilterAccount" formControlName="accountID">
                </angular2-multiselect> -->
                            <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccountEdit" [settings]="settingsFilterAccountEdit" formControlName="accountID">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <label>{{'mapping.sender_name' | translate}}</label>
                            <angular2-multiselect [data]="dataSender" [(ngModel)]="selectedItemComboboxSender" [settings]="settingsFilterSenderEdit" formControlName="sender">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <label>{{'mapping.telco' | translate}}</label>
                            <angular2-multiselect [data]="dataTelco" [(ngModel)]="selectedItemComboboxTelco" [settings]="settingsFilterTelcoEdit" formControlName="telco">
                            </angular2-multiselect>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <label>{{'mapping.port' | translate}}</label>
                            <angular2-multiselect [data]="dataPartner" [(ngModel)]="selectedItemComboboxPartner" [settings]="settingsFilterPartner" formControlName="partner">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.maintaining_fee' | translate}}</label>
                            <input type="text" class="form-control modal-popup" formControlName="maintainingFee" placeholder="{{ 'mapping.iMaintaining_fee' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order' | translate}}</label>
                            <input type="text" class="form-control modal-popup" formControlName="order" placeholder="{{ 'mapping.iOrder' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.order_tamp' | translate}}</label>
                            <input type="text" class="form-control modal-popup" formControlName="orderTamp" placeholder="{{ 'mapping.iOrder_tamp' | translate }}">
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                            <label>{{'mapping.time_reset' | translate}}</label>
                            <input type="number" class="form-control modal-popup" formControlName="timeReset" placeholder="{{ 'mapping.iTime_reset' | translate }}">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <label></label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" class="checkbox" formControlName="active" ngModel>
                    <span>{{'mapping.active' | translate}}</span> </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="showModalUpdate.hide()">{{ 'global.cancel' | translate }}</button>
                    <button type="button" (click)="editMapping()" class="btn btn-success">{{ 'global.confirm' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal xác nhận xóa luồng-->
<div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'mapping.delete_mapping' | translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <!-- <div>Bạn có chắc chắn muốn xóa phân luồng của thương hiệu "<b class="text-success">{{senderName}}</b>"
            không?</div> -->
                <div>{{'global.ask_delete' | translate}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="confirmDeleteModal.hide()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success" (click)="confirmDelete(partnerSenderId)">{{'global.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div>