<article>
    <div class="row top_tiles">
        <section>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <a [routerLink]="['../../statistic/sms-error']" [queryParams]="{redirectTo: 'smsErrByMonth'}">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-bar-chart-o"></i></div>
                        <div class="count">{{smsErr}}</div>
                        <h4>Tin lỗi trong tháng</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngIf="!isCustomer">
                <a [routerLink]="['../../sms/campaign']" [queryParams]="{ redirectFrom: 'home', currentDate: currentDate }">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-check-square-o"></i></div>
                        <div class="count">{{totalSmsWaitApprove}}</div>
                        <h4>Đơn chờ duyệt</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngIf="isAdmin">
                <a [routerLink]="['../../system/account']" [queryParams]="{ redirectFrom: 'home' }">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                        <div class="count">{{newCustomer}}</div>
                        <h4>{{ 'home.new_customer' | translate }}</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngIf="isAdmin">
                <a [routerLink]="['../../system/account']" [queryParams]="{ redirectFrom: 'quota_expired' }">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-edit"></i></div>
                        <div class="count">{{accountExpiredQuota}}</div>
                        <h4>{{ 'home.sender_expired_account' | translate }}</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngIf="isAdmin">
                <a [routerLink]="['../../manager/sender']" [queryParams]="{ redirectTo: 'sender_expired' }">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-edit"></i></div>
                        <div class="count">{{totalSenderExpired}}</div>
                        <h4>{{ 'home.sender_expired' | translate }}</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
        </section>
    </div>

    <!-- chart -->
    <section>
        <div class="row" style="margin-top: 20px">
            <!-- <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isAdmin">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2>Data theo nhà mạng</h2>
                    </div>
                    <div class="x_content">
                        <dx-chart id="chart" title="" [dataSource]="grossSmsTelco" (onPointClick)="onPointClick($event)" style="height:300px">
                            <dxi-series valueField="monthOld2" name="Tháng {{month_old2}}"></dxi-series>
                            <dxi-series valueField="monthOld1" name="Tháng {{month_old1}}"></dxi-series>
                            <dxi-series valueField="monthNow" name="Tháng {{month_now}}"></dxi-series>
                            <dxo-common-series-settings argumentField="state" type="bar" hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
                                <dxo-label [visible]="true" [format]="{
                            type: 'fixedPoint',
                            precision: '0'
                        }">
                                </dxo-label>
                            </dxo-common-series-settings>
                            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                            </dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                        </dx-chart>
                    </div>
                </div>
            </div> -->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isAdmin">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2>Thống kê lượt KH kích vào link truy cập quà tặng hàng ngày</h2>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                            </canvas>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isAdmin">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2>Thống kê theo từng ngày, từng giờ được số KH cũ,mới đăng ký tặng data</h2>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart
                            [datasets]="barChartData1"
                            [labels]="barChartLabels1"
                            [legend]="barChartLegend1"
                            [chartType]="barChartType1">
                            </canvas>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section>
        <div class="row" style="margin-bottom:20px;padding-bottom:20px">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2>Thống kê KH nhận data hàng tháng</h2>
                    </div>
                    <div class="x_content">
                        <canvas id="test"></canvas>
                        <div style="margin-left: auto">
                            <select [(ngModel)]="from" style="width: 50px;height: 30px;">
                            <option *ngFor="let m of months" [value]='m.value'>{{m.month}}</option>
                            </select>
                            &nbsp;&nbsp;
                        
                        <select [(ngModel)]="toMonth" style="width: 50px;height: 30px;">
                            <option *ngFor="let m1 of months" [value]='m1.value'>{{m1.month}}</option>
                        </select> 
                        <button class="btn btn-primary" (click)="applyDateFilter()">Filter by month</button>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isAdmin">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2>Thống kê từng giờ được số KH đã đăng ký nhận data</h2>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [legend]="lineChartLegend"
                            [options]="lineChartOptions"
                            [chartType]="lineChartType">
                            </canvas>
                          </div>
                          <div style="width: 150px;height: 30px;"></div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
</article>