<article>
    <div class="row top_tiles">
        <section>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <a [routerLink]="['../../statistic/sms-error']" [queryParams]="{redirectTo: 'smsErrByMonth'}">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-bar-chart-o"></i></div>
                        <div class="count">{{smsErr}}</div>
                        <h4>Tin lỗi trong tháng</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngIf="!isCustomer">
                <a [routerLink]="['../../sms/campaign']" [queryParams]="{ redirectFrom: 'home', currentDate: currentDate }">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-check-square-o"></i></div>
                        <div class="count">{{totalSmsWaitApprove}}</div>
                        <h4>Đơn chờ duyệt</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngIf="isAdmin">
                <a [routerLink]="['../../system/account']" [queryParams]="{ redirectFrom: 'home' }">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                        <div class="count">{{newCustomer}}</div>
                        <h4>{{ 'home.new_customer' | translate }}</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngIf="isAdmin">
                <a [routerLink]="['../../system/account']" [queryParams]="{ redirectFrom: 'quota_expired' }">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-edit"></i></div>
                        <div class="count">{{accountExpiredQuota}}</div>
                        <h4>{{ 'home.sender_expired_account' | translate }}</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngIf="isAdmin">
                <a [routerLink]="['../../manager/sender']" [queryParams]="{ redirectTo: 'sender_expired' }">
                    <div class="tile-stats" style="cursor: pointer">
                        <div class="icon"><i class="fa fa-edit"></i></div>
                        <div class="count">{{totalSenderExpired}}</div>
                        <h4>{{ 'home.sender_expired' | translate }}</h4>
                        <p>&nbsp;</p>
                    </div>
                </a>
            </div>
        </section>
    </div>
    <section style="margin-top: 30px;">
        <div class="x_panel portlet">
            <div class="row" style="margin-top: 20px">
                <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                    <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccount" [settings]="settingsFilterAccount" name="account" (onSelect)="ChangeDropdownListAccount()" (onDeSelect)="ChangeDropdownListAccount()">
                    </angular2-multiselect>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                    <angular2-multiselect [data]="dataCampaign" [(ngModel)]="selectedCampaign" [settings]="settingsFilterCampaign" name="campaign" (onSelect)="ChangeDropdownList()" (onDeSelect)="ChangeDropdownList()">
                    </angular2-multiselect>
                </div>
                <!--(onSelect)="ChangeDropdownListAccount()" (onDeSelect)="ChangeDropdownListAccount()"  (onSelect)="ChangeDropdownList()" (onDeSelect)="ChangeDropdownList()"-->
                <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                    <angular2-multiselect [data]="dataScenario" [(ngModel)]="selectedScenario" [settings]="settingsFilterScenario" name="scenario" (onSelect)="ChangeDropdownList()" (onDeSelect)="ChangeDropdownList()">
                    </angular2-multiselect>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 form-group" style="margin-top: 5px;">
                    <div class="radio">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group" style="float:left">
                            <label><input class="form-check-input" type="radio" value="0" name="click_event" ngModel checked
                                            (click)="checkDay(0)">{{ 'index.click_day' | translate }}</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group" style="float: right;">
                            <label><input class="form-check-input" type="radio" value="1" name="click_event" ngModel
                                            (click)="checkDay(1)">{{ 'index.click_hour' | translate }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 form-group" style="margin-top: 5px;" *ngIf="checkDayhour">
                    <label><i class="fa fa-calendar" aria-hidden="true"></i> Thống kê 30 ngày gần đây</label>
                </div>
                <!-- tim kiem theo ngay gio -->
                <div class="col-md-2 col-sm-3 col-xs-12 form-group" *ngIf="isHour">
                    <input type="text" class="form-control" name="chosseDate" bsDatepicker [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" placeholder="{{ 'index.choose_date' | translate }}" [(ngModel)]="timeday" (ngModelChange)="onChangeChooseDate($event)">
                </div>
                <div class="col-md-1 col-sm-6 col-xs-12 form-group" *ngIf="isHour">
                    <angular2-multiselect [data]="dataHour" [(ngModel)]="selectedFromHour" [settings]="settingsFilterFromHour" name="fromhour" (onSelect)="ChangeDropdownListHourn()" (onDeSelect)="ChangeDropdownListHourn()">
                    </angular2-multiselect>
                </div>
                <div class="col-md-1 col-sm-6 col-xs-12 form-group" *ngIf="isHour">
                    <angular2-multiselect [data]="dataHour" [(ngModel)]="selectedToHour" [settings]="settingsFilterFromHour" name="tohour" (onSelect)="ChangeDropdownListHourn()" (onDeSelect)="ChangeDropdownListHourn()">
                    </angular2-multiselect>
                </div>
                <!-- tim kiem theo ngay -->
                <div class="col-md-2 col-sm-6 col-xs-12 form-group" *ngIf="isDay">
                    <input type="text" class="form-control" name="fromDate" bsDatepicker [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" placeholder="{{ 'statistic-data-sms.from_date' | translate }}" [(ngModel)]="timeFrom" (ngModelChange)="onChangeFromDate($event)">
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 form-group" *ngIf="isDay">
                    <input type="text" class="form-control" name="toDate" bsDatepicker [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" placeholder="{{ 'statistic-data-sms.to_date' | translate }}" [(ngModel)]="timeTo" (ngModelChange)="onChangeToDate($event)">
                </div>

            </div>
        </div>
    </section>
    <!-- chart -->
    <section>
        <div class="row">
            <!--Biểu đồ Thống kê lượt KH click vào link truy cập quà tặng hàng ngày du lieu nho hon 8 ngay-->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCheckUser">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2 style="float: none; text-align: center;">{{'index.chart_view_click_day' | translate}}</h2>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart [datasets]="barChartDataClick" [labels]="barChartLabelsClick" [legend]="barChartLegendClick" [chartType]="barChartTypeClick">
                                </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thong ke kh dang ky nhan data hang ngay/go -->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCheckUser">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>{{'index.customer_register' | translate}}</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                            <div class="checkbox" style="display: inline-block">
                                <label> <input type="checkbox" value="" class="checkbox" name="viettel" required=""
                                            checked="isCheckVTL" (change)="onChangeVTL($event.currentTarget.checked)">
                                        <span>Viettel</span> </label>
                            </div>
                            <div class="checkbox" style="display: inline-block; margin-left: 20px;">
                                <label><input type="checkbox" value="" class="checkbox" name="vinaphone" required=""
                                            checked="isCheckGPC" (change)="onChangeGPC($event.currentTarget.checked)">
                                        <span>Vinaphone</span> </label>
                            </div>
                            <div class="checkbox" style="display: inline-block; margin-left: 20px;">
                                <label><input type="checkbox" value="" class="checkbox" name="mobiphone" required=""
                                            checked="isCheckVMS" (change)="onChangeVMS($event.currentTarget.checked)">
                                        <span>Mobiphone</span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart [datasets]="chartDataRegisterDay" [labels]="labelsChartRegisterDay" [legend]="barChartLegendRegisterDay" [chartType]="barChartTypeRegisterDay">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <!-- Thong ke kh dang ky nhan data hang ngay/go khach hang cu -->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCheckUser">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>{{'index.chart_register_old' | translate}}</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                            <div class="checkbox" style="display: inline-block">
                                <label> <input type="checkbox" value="" class="checkbox" name="viettel" required=""
                                            checked="isCheckVTL" (change)="onChangeVTL($event.currentTarget.checked)">
                                        <span>Viettel</span> </label>
                            </div>
                            <div class="checkbox" style="display: inline-block; margin-left: 20px;">
                                <label><input type="checkbox" value="" class="checkbox" name="vinaphone" required=""
                                            checked="isCheckGPC" (change)="onChangeGPC($event.currentTarget.checked)">
                                        <span>Vinaphone</span> </label>
                            </div>
                            <div class="checkbox" style="display: inline-block; margin-left: 20px;">
                                <label><input type="checkbox" value="" class="checkbox" name="mobiphone" required=""
                                            checked="isCheckVMS" (change)="onChangeVMS($event.currentTarget.checked)">
                                        <span>Mobiphone</span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart [datasets]="barChartDataRegisterOld" [labels]="barChartLabelsRegisterOld" [legend]="barChartLegendRegisterOld" [chartType]="barChartTypeRegisterOld">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thong ke kh dang ky nhan data hang ngay/go khach hang moi -->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCheckUser">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>{{'index.chart_register_new' | translate}}</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                            <div class="checkbox" style="display: inline-block">
                                <label> <input type="checkbox" value="" class="checkbox" name="viettel" required=""
                                            checked="isCheckVTL" (change)="onChangeVTL($event.currentTarget.checked)">
                                        <span>Viettel</span> </label>
                            </div>
                            <div class="checkbox" style="display: inline-block; margin-left: 20px;">
                                <label><input type="checkbox" value="" class="checkbox" name="vinaphone" required=""
                                            checked="isCheckGPC" (change)="onChangeGPC($event.currentTarget.checked)">
                                        <span>Vinaphone</span> </label>
                            </div>
                            <div class="checkbox" style="display: inline-block; margin-left: 20px;">
                                <label><input type="checkbox" value="" class="checkbox" name="mobiphone" required=""
                                            checked="isCheckVMS" (change)="onChangeVMS($event.currentTarget.checked)">
                                        <span>Mobiphone</span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart [datasets]="barChartDataRegisterNew" [labels]="barChartLabelsRegisterNew" [legend]="barChartLegendRegisterNew" [chartType]="barChartTypeRegisterNew">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <!-- thong ke khach hang da nhan data -->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCheckUser">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>{{'index.customer_received' | translate}}</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                            <div class="checkbox" style="display: inline-block">
                                <label> <input type="checkbox" value="" class="checkbox" name="viettel" required=""
                                            checked="isCheckVTL" (change)="onChangeVTL($event.currentTarget.checked)">
                                        <span>Viettel</span> </label>
                            </div>
                            <div class="checkbox" style="display: inline-block; margin-left: 20px;">
                                <label><input type="checkbox" value="" class="checkbox" name="vinaphone" required=""
                                            checked="isCheckGPC" (change)="onChangeGPC($event.currentTarget.checked)">
                                        <span>Vinaphone</span> </label>
                            </div>
                            <div class="checkbox" style="display: inline-block; margin-left: 20px;">
                                <label><input type="checkbox" value="" class="checkbox" name="mobiphone" required=""
                                            checked="isCheckVMS" (change)="onChangeVMS($event.currentTarget.checked)">
                                        <span>Mobiphone</span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart [datasets]="barChartDataReceived" [labels]="barLabelsChartReceived" [legend]="barChartLegendReceived" [chartType]="barChartTypeReceived">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row" style="margin-top: 20px">
            <!-- Biểu đồ Thống kê KH nhận data hàng tháng-->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2>{{'index.chart_view_receive_by_month' | translate}}</h2>
                    </div>
                    <div class="x_content">
                        <canvas id="test"></canvas>
                        <div style="margin-left: auto">
                            <select [(ngModel)]="fromMonth" style="width: 50px;height: 30px;">
                            <option *ngFor="let m of months" [value]='m.value'>{{m.month}}</option>
                            </select> &nbsp;&nbsp;

                            <select [(ngModel)]="toMonth" style="width: 50px;height: 30px;">
                            <option *ngFor="let m1 of months" [value]='m1.value'>{{m1.month}}</option>
                        </select>
                            <button class="btn btn-primary" (click)="applyDateFilter()">Filter by month</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--biểu đồ Thống kê KH nhận data từng giờ-->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCheckUser">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2> {{'index.chart_view_receive_by_hours' | translate}}</h2>
                    </div>
                    <div class="x_content">
                        <div style="display: block">
                            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [legend]="lineChartLegend" [options]="lineChartOptions" [chartType]="lineChartType">
                            </canvas>
                        </div>
                        <div style="width: 150px;height: 30px;"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="row" style="margin-bottom:20px;padding-bottom:20px">
            <!--Biểu đồ thống kê KH nhận data theo nhà mạng năm 2020-->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCheckUser">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2>{{'index.chart_view_receive_by_tel' | translate}} 2020</h2>
                    </div>
                    <div class="x_content">
                        <div style="display:block">
                            <div style="display: block">
                                <canvas id="ChartReceiDataByTel" baseChart [data]="dataChartReceiveDataByTel" [labels]="LabelChartReceiveDataByTel" [chartType]="TypeChartReceiveDataByTel" [colors]="colorChartReceiveDataByTel" [options]="optionChartReceiveDataByTel"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Thống kê KH sử dụng thường xuyên-->
            <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="isCheckUser">
                <div class="x_panel portlet">
                    <div class="x_title clearfix">
                        <h2>Biểu đồ thống kê KH sử dụng thường xuyên</h2>
                    </div>
                    <div class="x_content">
                        <div style="display:block">
                            <div style="display: block">
                                <canvas baseChart [datasets]="dataKHSDTX" [labels]="labelKHSDTX" [legend]="legendKHSDTX" [chartType]="typeKHSDTX">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</article>