.checkbox label,
.radio label {
    padding-left: 15px !important;
}

.checkbox,
.radio {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.checkbox span {
    line-height: 0px !important;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}

.count {
    font-size: 17px;
}

.styleh5 {
    margin-bottom: 7px;
    margin-left: 5px;
}

.styleh6 {
    margin-left: 5px;
}

#chartSlSuccess {
    max-width: 650px;
    margin: 35px auto;
}

#chartSlFail {
    max-width: 650px;
    margin: 35px auto;
}

#chartline {
    max-width: 650px;
    margin: 35px auto;
}