<article>
    <section>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <div class="x_panel portlet" style="padding-bottom: 0; margin-bottom:0 !important">
                    <div class="x_title clearfix">
                        <h2>{{ 'send_data.tittle' | translate }}</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link" onclick="collapseBox(this)"><i
                                        class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link" onclick="closeBox(this)"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="x_content">
                        <div class="row" style="margin-bottom: 5px !important">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <div *ngIf="isAdmin">
                                    <label style="color: red;">{{ 'send_data.label' | translate }}
                                        {{ total_amt | number: '.0' }} VNĐ</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <label style="color: red;" *ngIf="isSendSMS">{{ 'send_data.quota' | translate }}
                                        {{ quota }}</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group text-right">
                                <button type="submit" class="btn btn-primary btn-sm" *ngIf="role.IS_ADD"
                                    (click)="sendDataSMS()">{{ 'send_data.send' | translate }}</button>
                                <button type="button" class="btn btn-primary btn-sm" *ngIf="!isSendExcel"
                                    (click)="showModalUpload()">{{ 'send_data.up_load' | translate }}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
                                <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedItemComboboxAccount"
                                    [settings]="settingsFilterAccount" name="slAccount" (onSelect)="changeAccount()"
                                    (onDeSelect)="deSelectAccount()">
                                </angular2-multiselect>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
                                <angular2-multiselect [data]="dataSenderName" [(ngModel)]="selectedItemComboboxSender"
                                    [settings]="settingsFilterSender" name="slSenderName">
                                </angular2-multiselect>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" name="programName" [(ngModel)]="programName"
                                    placeholder="{{ 'send_data.inProgram' | translate }}">
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group has-feedback">
                                <angular2-multiselect [data]="dataType" [(ngModel)]="selectedItemComboboxType"
                                    [settings]="settingsFilterType" (onSelect)="changeType()"
                                    (onDeSelect)="changeType()" name="slType">
                                </angular2-multiselect>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                                    <label style="margin-bottom: 0;">{{'data-sms.text_countmes1' | translate}}
                                        (<span style="display:inline-block !important">{{numberChar}}</span>
                                        {{'data-sms.text_countmes2' | translate}}) (<span
                                            style="display:inline-block !important">{{numberSMS}}</span>{{'data-sms.text_countmes3' | translate}})
                                    </label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="padding: 0">
                                    <textarea type="text" class="form-control has-feedback-left modal-popup" #contentSMS
                                        name="smsContent" rows="3" maxlength="459" readonly
                                        placeholder="{{ 'data-sms.iSms_content' | translate }}" [(ngModel)]="smsContent"
                                        (change)="countSMS($event.target.value)" (keyup)="countSMS($event.target.value)"
                                        (keydow)="countSMS($event.target.value)"></textarea>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                                    <label style="margin-bottom: 0;">&nbsp;
                                    </label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="padding: 0;"
                                    *ngIf="!isSendExcel">
                                    <angular2-multiselect [data]="dataFileList"
                                        [(ngModel)]="selectedItemComboboxFileList" [settings]="settingsFilterFileList"
                                        name="slFileList" (onSelect)="getPhoneNumber($event)"
                                        (onDeSelect)="getPhoneNumber($event)">
                                    </angular2-multiselect>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback"
                                    style="padding: 0;margin:0" *ngIf="isSendExcel">
                                    <div class="input-group">
                                        <input type="file" #uploadFile name="uploadFile" class="form-control">
                                        <div class="input-group-btn">
                                            <button type="button" title="Loại bỏ các tệp đã chọn" (click)="clearData()"
                                                class="btn btn-default fileinput-remove fileinput-remove-button"
                                                style="background-color:rgba(128, 128, 128, 0.10);">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm"
                                                (click)="excelTemplate()">{{'send_data.export_template' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12" style="padding-left: 0;">
                                    <input type="number" class="form-control" name="amt_expected"
                                        [(ngModel)]="amt_expected" style="padding-right: 10px;"
                                        placeholder="{{ 'send_data.amt_expected' | translate }}"
                                        (change)="GetPackage($event.target.value)">
                                </div>
                                <div class="col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
                                    <angular2-multiselect [data]="dataPackage" [(ngModel)]="selectedItemComboboxPackage"
                                        [settings]="settingsFilterPackage" name="slPackage">
                                    </angular2-multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-sm-6 col-xs-12 form-group has-feedback" style="margin: 0;">
                                <div class="checkbox" style="margin: 0;">
                                    <label><input type="checkbox" value="" class="checkbox"
                                            (change)="checkTimeSchedule($event.currentTarget.checked)">
                                        <span>{{ 'data-sms.timer' | translate }}</span> </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6 form-group has-feedback" style="margin-bottom: 5px;"
                                [ngStyle]="{'visibility':isShowDateTime ? 'visible' : 'hidden'}">
                                <input type="text" class="form-control has-feedback-left modal-popup"
                                    name="timeSchedule" bsDatepicker
                                    [bsConfig]="{adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY HH:mm'}"
                                    [minDate]="minDate" [(ngModel)]="timeSchedule"
                                    placeholder="{{ 'campaign.date_time' | translate }}">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback" style="margin: 0;">
                                <div class="checkbox" style="margin: 0;">
                                    <label><input type="checkbox" value="" class="checkbox" name="isSendSMS"
                                            [(ngModel)]="isSendSMS" (click)="enableSend($event.currentTarget.checked)">
                                        <span>{{ 'send_data.is_send_sms' | translate }}</span> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="col-md-10 col-sm-12 col-xs-12 form-group has-feedback" style="padding:0">
                                <div style="display: inline-block; padding-right:25px">
                                    <label>
                                        <span
                                            style="display:inline-block !important">{{ 'send_data.total_num' | translate }}</span>
                                        (<span
                                            style="display:inline-block !important">{{totalNumber}}</span>{{ 'data-sms.text_num' | translate }})
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback content-end"
                                style="padding-right: 0">
                                <button type="button" class="btn btn-success btn-sm"
                                    (click)="exportPhoneNumber()">{{ 'send_data.export' | translate }}</button>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 form-group has-feedback">
                                <div class="table-responsive">
                                    <table class="table table-bordered clear-bottom">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:7%">STT</th>
                                                <th class="text-center">{{ 'send_data.phone' | translate }}</th>
                                                <th class="text-center">{{ 'send_data.telco' | translate }}</th>
                                                <th class="text-center" style="width:7%">{{ 'global.tool' | translate }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataPhone; let i = index" [attr.data-index]="i">
                                                <td scope="row">{{i+1}}</td>
                                                <td>{{item.PHONE}}</td>
                                                <td>{{item.TELCO}}</td>
                                                <td class="text-center">
                                                    <div class="tool">
                                                        <button type="submit"
                                                            (click)="showConfirmDelete(item.LIST_ID,item.PHONE)"
                                                            *ngIf="role.IS_DELETE"
                                                            class="btn btn-danger btn-sm">{{ 'global.delete' | translate }}</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                                        Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }}
                                        trang. Hiển thị
                                        <select (change)="changePageSize($event.target.value)">
                                            <option value="5" selected="">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="99999999">Tất cả</option>
                                        </select>
                                        bản ghi.
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 minibox" style="margin-bottom:10px">
                                        <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                                            [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                                            (numPages)="pagination.totalPage = $event"
                                            [(ngModel)]="pagination.pageIndex" [rotate]="true" [maxSize]="5"
                                            class="pagination-sm content-end" previousText="&lsaquo;"
                                            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<!-- upload excel -->
<div class="modal fade" bsModal #uploadExcelModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <div class="x_panel portlet" style="padding-bottom: 0; margin-bottom:0 !important">
                    <div class="x_panel portlet">
                        <div class="x_title clearfix">
                            <h2 style="display: inline-block;margin:0">{{ 'send_data.phone_list_manage' | translate }}
                            </h2>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="uploadExcelModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="x_content">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control" name="lstName" [(ngModel)]="lstName"
                                    placeholder="{{ 'send_data.code_name' | translate }}">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <div class="input-group">
                                    <input type="file" #uploadFile name="uploadFile" class="form-control">
                                    <div class="input-group-btn">
                                        <button type="button" title="Loại bỏ các tệp đã chọn" (click)="clearData()"
                                            class="btn btn-default fileinput-remove fileinput-remove-button"
                                            style="background-color:rgba(128, 128, 128, 0.10);">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm"
                                            (click)="excelTemplateOnlyPhone()">{{'send_data.export_template' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback text-right">
                                <img *ngIf="loading" class="pl-2" style="margin-right: 10px"
                                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                                <button type="submit" class="btn btn-success" (click)="submitUploadFile()"
                                    [disabled]="loading">{{'global.confirm' | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="x_panel portlet">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 form-group has-feedback">
                                    <div class="table-responsive">
                                        <table class="table table-bordered clear-bottom">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width:7%">STT</th>
                                                    <th class="text-center">{{ 'send_data.list_file' | translate }}</th>
                                                    <th class="text-center" style="width:20%">
                                                        {{ 'global.tool' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of dataFileList; let i=index"
                                                    [attr.data-index]="i">
                                                    <td scope="row">{{i+1}}</td>
                                                    <td>{{item.itemName}}</td>
                                                    <td>
                                                        <div class="tool">
                                                            <button type="submit"
                                                                (click)="showConfirmDeleteFile(item.id, item.itemName)"
                                                                class="btn btn-danger btn-sm">{{ 'global.delete' | translate }}</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 form-group has-feedback text-right" style="padding: 0">
                        <button type="button" class="btn btn-default"
                            (click)="uploadExcelModal.hide()">{{'global.cancel' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- confirm gửi tin -->
<!-- <div class="modal fade" bsModal #confirmSendSMSModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.confirm' | translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="confirmSendSMSModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Bạn có chắc chắn muốn gửi data?
                </div>
            </div>
            <div class="modal-footer">
                <img *ngIf="loading" class="pl-2" style="margin-right: 10px"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button type="button" class="btn btn-default"
                    (click)="confirmSendSMSModal.hide()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success" (click)="confirmSendSMS()"
                    [disabled]="loading">{{'global.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Confirm after send sms success -->
<div class="modal fade" bsModal #confirmAfterSuccessModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.confirm' | translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close"
                    (click)="confirmAfterSuccessModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    (click)="confirmAfterSuccess()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success"><a routerLink=""
                        style="color: #fff">{{'send_data.move_data_manager' | translate}}</a></button>
            </div>
        </div>
    </div>
</div>

<!-- Xóa số điện thoại -->
<div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Xác nhận</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Bạn có chắc chắn muốn xóa số điện thoại "<b class="text-success">{{phone}}</b>" không?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    (click)="confirmDeleteModal.hide()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success"
                    (click)="confirmDelete()">{{'global.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Xóa file phone -->
<div class="modal fade" bsModal #confirmDeleteFilePhoneModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Xác nhận</h4>
                <button type="button" class="close pull-right" aria-label="Close"
                    (click)="confirmDeleteFilePhoneModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Bạn có chắc chắn muốn xóa file "<b class="text-success">{{fileName}}</b>" không?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    (click)="confirmDeleteFilePhoneModal.hide()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success"
                    (click)="confirmDeleteListFile()">{{'global.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- confirm send sms -->
<div class="modal fade" bsModal #confirmSendDataSMSModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'send_data.confirm_send_sms' | translate}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close"
                    (click)="confirmSendDataSMSModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label style="margin-bottom: 0;">{{'data-sms.text_countmes1' | translate}}
                                (<span style="display:inline-block !important">{{numberChar}}</span>
                                {{'data-sms.text_countmes2' | translate}}) (<span
                                    style="display:inline-block !important">{{numberSMS}}</span>{{'data-sms.text_countmes3' | translate}})
                            </label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="padding: 0">
                            <textarea type="text" class="form-control has-feedback-left modal-popup" name="smsContent"
                                rows="3" placeholder="{{ 'data-sms.iSms_content' | translate }}"
                                [(ngModel)]="smsContent" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label>{{'data_cimast.account' | translate}}</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label style="font-weight:unset">{{account}}</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label>{{'campaign.total' | translate}}</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label style="font-weight:unset">{{totalNumber}}</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label>{{'sms_list.sent_time' | translate}}</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label style="font-weight:unset">{{timeSend}}</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;" *ngIf="isSendSMS">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label>{{'general.sender' | translate}}</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label style="font-weight:unset">{{senderName}}</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label>{{'send_data.data_phone_list' | translate}}</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <label style="font-weight:unset">{{fileList}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <img *ngIf="loading" class="pl-2" style="margin-right: 10px"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button type="button" class="btn btn-default"
                    (click)="confirmSendDataSMSModal.hide()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success"
                    (click)="confirmSendSMS()">{{'global.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div>