<div class="containerImg" [ngStyle]="{'display':(issuccess == true) ? 'none' : 'block'}">
    <section>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 form-group"></div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group" style="margin-top: 20px;">
                <div class="img">
                    <img src="{{posterImage}}" style="width: 350px; height: 180px; margin-top: 6px; margin-right: 6px;" />
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 form-group"></div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                <form #formAdd="ngForm" (ngSubmit)="createMember(formAdd)" class="container">
                    <div>
                        <h3 style="font-size: 18px; text-align: center;">Đăng ký nhận data miễn phí</h3>
                    </div>
                    <div>
                        <div class="input-group" style="margin-top: 5%;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="font-size: 20px;"></i></span>
                            <input type="text" class="form-control" name="fullName" placeholder="{{ 'register.fullName' | translate }} " ngModel>
                        </div>
                    </div>
                    <div>
                        <div class="input-group" style="margin-top: 5%;">
                            <span class="input-group-addon"><i class="fa fa-phone" style="font-size: 20px;"></i></span>
                            <input type="text" class="form-control" name="phoneNumber" placeholder="{{ 'register.phoneNumber' | translate }}" ngModel [pattern]="mobNumberPattern" #mobNumber="ngModel">
                        </div>
                        <div *ngIf="mobNumber.errors && formAdd.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                            <div class="errorphone" *ngIf="mobNumber.errors.pattern">
                                {{'register.validatePhone' | translate}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <button style="margin-top: 5%;" type="submit" class="btn btn btn-primary submit">{{ 'register.submit_register' | translate }}</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group"></div>
        </div>
    </section>
</div>
<div class="containerImgrg" [ngStyle]="{'display':(issuccess == false) ? 'none' : 'block'}">
</div>