html,
body {
    height: 100%;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.8em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.delete-underline {
    text-decoration: none;
}

.styleImage {
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 10px !important;
    float: right !important;
    background-color: #e6e6e6e6 !important;
}

.styleaccount {
    text-align: center;
    float: left;
    padding-top: 15px;
}

.errorphone {
    color: red;
    margin-bottom: 10px;
}

.nav-md {
    background-color: #66CCFF !important;
}

body {
    background-color: #66CCFF !important;
}

body,
html {
    height: 100%;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

* {
    box-sizing: border-box;
}

.containerImg {
    /* The image used */
    background-image: url('../../assets/img/register.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.containerImgrg {
    /* The image used */
    background-image: url('../../assets/img/dangkythanhsong.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}


/* Add styles to the form container */

.container {
    position: absolute;
    max-width: 400px;
    padding: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}


/* Set a style for the submit button */

.btn {
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 320px) and (max-width: 320px) {
    .container {
        margin-left: 9px;
        width: 80%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
    .container {
        margin-left: 9px;
        width: 90%;
    }
    .img {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 375px) {
    .container {
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 414px) {
    .container {
        margin-left: 7px;
    }
}

@media only screen and (min-width: 415px) and (max-width: 450px) {
    .container {
        margin-left: 24px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        margin-left: 24px;
    }
    .img {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .img {
        float: left;
        margin-left: 20px;
    }
}

.input-group-addon {
    line-height: 0;
}