<article>
    <section>
        <div class="page-title clearfix">
            <div class="title_left">
                <h3>{{ 'data-campaign.title' | translate }}</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <form class="row form-horizontal form-label-left input_mask">
                            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                                <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccount"
                                    [settings]="settingsFilterAccount" (onSelect)="getData()" (onDeSelect)="getData()"
                                    name="slAccount">
                                </angular2-multiselect>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                                <input type="text" class="form-control" name="fromDate" bsDatepicker
                                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="fromDate"
                                    placeholder="{{ 'data-campaign.from_date' | translate }}"
                                    (ngModelChange)="onChangeFromDate($event)">
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                                <input type="text" class="form-control" name="toDate" bsDatepicker
                                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="toDate"
                                    placeholder="{{ 'data-campaign.to_date' | translate }}"
                                    (ngModelChange)="onChangeToDate($event)">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 form-group has-feedback">
                                <div class="table-responsive">
                                    <table class="table table-bordered clear-bottom">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th class="text-center">
                                                    {{ 'data-campaign.account' | translate }}</th>
                                                <th class="text-center">
                                                    {{ 'data-campaign.program_name' | translate }}</th>
                                                <th class="text-center">
                                                    {{ 'data-campaign.package' | translate }}</th>
                                                <th class="text-center">
                                                    {{ 'data-campaign.total_phone' | translate }}</th>
                                                <th class="text-center">
                                                    {{ 'data-campaign.amt' | translate }}</th>
                                                <th class="text-center">
                                                    {{ 'data-campaign.time_send' | translate }}</th>
                                                <th class="text-center">
                                                    {{ 'data-campaign.create_user' | translate }}
                                                <th class="text-center" style="width:8%">{{ 'global.tool' | translate }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataCampaign; let i = index" [attr.data-index]="i">
                                                <td class="text-center" scope="row">{{i+1}}</td>
                                                <td>{{item.USER_NAME}}</td>
                                                <td>{{item.PROGRAM_NAME}}</td>
                                                <td>{{item.PACKAGE_NAME}}</td>
                                                <td class="text-center">{{item.TOTAL_PHONE}}</td>
                                                <td>{{item.AMT}}</td>
                                                <td class="text-center">{{item.TIME_SEND}}</td>
                                                <td>{{item.CREATE_USER}}</td>
                                                <td class="text-center">
                                                    <!-- <div class="tool">
                                                        <button type="button" class="btn btn-success btn-sm"
                                                            (click)="showConfirmViewDetail(item.ID)">{{'global.detail' | translate}}</button>
                                                    </div> -->
                                                    <div class="tool" *ngIf="isAdmin">
                                                        <button type="button" (click)="showConfirmApproveSms(item.ID)"
                                                            class="btn btn-primary btn-sm"
                                                            [ngStyle]="{'display':(item.STATUS == 1) ? 'none' : 'block'}">{{ 'global.approve' | translate }}</button>
                                                        <button type="button" (click)="showConfirmDelete(item.ID)"
                                                            class="btn btn-danger btn-sm"
                                                            [ngStyle]="{'display':(item.STATUS == 1) ? 'none' : 'block'}">{{'global.cancel' | translate}}</button>
                                                        <button type="button" (click)="exportExcel(item.ID)"
                                                            class="btn btn-success btn-sm"
                                                            [ngStyle]="{'display':item.STATUS == 1 ? 'none' : 'block'}">Export</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                                        Tổng số {{ pagination.totalRow }} bản ghi trong {{ pagination.totalPage }}
                                        trang. Hiển thị
                                        <select (change)="changePageSize($event.target.value)">
                                            <option value="5" selected="">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="99999999">Tất cả</option>
                                        </select>
                                        bản ghi.
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 minibox">
                                        <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize"
                                            [totalItems]="pagination.totalRow" (pageChanged)="pageChanged($event)"
                                            (numPages)="pagination.totalPage = $event"
                                            [(ngModel)]="pagination.pageIndex" [rotate]="true" [maxSize]="5"
                                            class="pagination-sm content-end" previousText="&lsaquo;"
                                            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<!-- modal Xem chi tiết-->
<div class="modal fade" bsModal #viewDataCampaignDetailModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">
                    {{'data-campaign.detail' | translate}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close"
                    (click)="viewDataCampaignDetailModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="x_panel portlet" *ngIf="!checkShowDetail">
                <p style="text-align: center; font-size: 20px;">{{notification}}</p>
            </div>
            <div class="modal-body" *ngIf="checkShowDetail">
                <div class="row">
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="form-group">
                            <div class="form-group has-feedback content-end">
                                <button type="submit" class="btn btn-success btn-sm"
                                    (click)="exportExcel()">{{ 'global.export_excel' | translate }}</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-12 col-xs-12 form-group has-feedback">
                        <div class="table-responsive">
                            <table class="table table-bordered clear-bottom">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 60px">STT</th>
                                        <th class="text-center">{{'data-campaign.phone' | translate}}</th>
                                        <th class="text-center">{{'data-campaign.data' | translate}} (MB)</th>
                                        <th class="text-center">{{'data-campaign.amt_phone' | translate}}</th>
                                        <th class="text-center">{{'data-campaign.sms' | translate}}</th>
                                        <th class="text-center" *ngIf="isAdmin">
                                            {{'data-campaign.status_sms' | translate}}</th>
                                        <th class="text-center">{{'data-campaign.status' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody class="table-content">
                                    <tr *ngFor="let item of dataCampaignDetail; let i = index" [attr.data-index]="i">
                                        <td class="text-center">{{i + 1}}</td>
                                        <td>{{item.PHONE}}</td>
                                        <td>{{item.DATA_VOL}}</td>
                                        <td>{{item.DATA_AMT}}</td>
                                        <td>{{item.SMS_CONTENT}}</td>
                                        <td class="text-center" *ngIf="isAdmin">{{item.RECEIVE_RESULT}}</td>
                                        <td class="text-center">{{item.DLVR_STATUS == 1 ? "DELIVERED" : "UNDELIVERED"}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="margin: 25px 0 0 0">
                                Tổng số {{ totalRow }} bản ghi trong {{ totalPage }}
                                trang. Hiển thị
                                <select (change)="changePageSizeDt($event.target.value)">
                                    <option value="5" selected="">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="99999999">Tất cả</option>
                                </select>
                                bản ghi.
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 minibox">
                                <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" [totalItems]="totalRow"
                                    (pageChanged)="pageChangedDetail($event)" (numPages)="totalPage = $event"
                                    [(ngModel)]="pageIndex" [rotate]="true" [maxSize]="5"
                                    class="pagination-sm content-end" previousText="&lsaquo;" nextText="&rsaquo;"
                                    firstText="&laquo;" lastText="&raquo;">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                            (click)="viewDataCampaignDetailModal.hide()">{{ 'global.back' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal xác nhận duyệt đơn-->
<div class="modal fade" bsModal #confirmApproveModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{'global.confirm' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmApproveModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>{{'campaign.ask_approve' | translate}}</div>
      </div>
      <div class="modal-footer">
        <img *ngIf="loading" class="pl-2" style="margin-right: 10px"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button type="button" class="btn btn-default btn-sm"
          (click)="confirmApproveModal.hide()">{{'global.cancel' | translate}}</button>
        <button type="submit" class="btn btn-success btn-sm"
          (click)="approveSms(data_campaign_id)">{{'global.confirm' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!-- modal xác nhận xóa đơn hàng -->
<div class="modal fade" bsModal #confirmDeleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{'campaign.confirm' | translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div>Bạn có chắc chắn muốn xóa?</div> -->
                <div>
                    <textarea type="text" class="form-control" placeholder="{{'campaign.input_reason' | translate}}"
                        name="contentSMS" rows="3" [(ngModel)]="reasonContent"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm"
                    (click)="confirmDeleteModal.hide()">{{'global.cancel' | translate}}</button>
                <button type="submit" class="btn btn-success btn-sm"
                    (click)="deleteCampaign(data_campaign_id)">{{'global.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div>