<article>
    <section>
        <div class="page-title clearfix">
            <div class="title_left">
                <h3>{{'data_cimast.tittle' | translate}}</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                            <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccountID" [settings]="settingsFilterAccount" (onSelect)="onItemSelect()" (onDeSelect)="OnItemDeSelect()" name="accountID">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                            <angular2-multiselect [data]="dataType" [(ngModel)]="selectedType" [settings]="settingsFilterType" (onSelect)="onItemSelect()" (onDeSelect)="OnItemDeSelect()" name="type">
                            </angular2-multiselect>
                        </div>
                        <div class="form-group has-feedback content-end">
                            <p style="font-weight:bold;color:red" *ngIf="isAdmin">
                                {{'data_cimast.label_telco' | translate}}{{total_amt_telco | number: '.0'}}</p>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <p style="font-weight:bold;color:blue">
                                {{'data_cimast.label_system' | translate}}{{total_amt_system_remain | number: '.0'}} / {{total_amt_system | number: '.0'}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel portlet">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <div class="form-group has-feedback content-end">
                                    <button type="button" class="btn btn-primary btn-sm" *ngIf="role.IS_ADD" (click)="openFormData()">{{'data_cimast.provide_amt' | translate}}</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 form-group has-feedback">
                                <div class="table-responsive">
                                    <table class="table table-bordered clear-bottom">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 60px">
                                                    STT</th>
                                                <th class="text-center" style="width: 80px">
                                                    {{'data_cimast.account' | translate}}</th>
                                                <th class="text-center">{{'data_cimast.total_amt' | translate}} (VNĐ)
                                                </th>
                                                <th class="text-center">{{'data_cimast.type' | translate}}</th>
                                                <th class="text-center">{{'data_cimast.create_date' | translate}}</th>
                                                <th class="text-center">{{'data_cimast.create_user' | translate}}</th>
                                                <th class="text-center" style="width: 80px">
                                                    {{'global.detail' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-content">
                                            <tr *ngFor="let item of dataAccountCimast; let i = index" [attr.data-index]="i">
                                                <td class="text-center">{{i + 1}}</td>
                                                <td>{{item.USER_NAME}}</td>
                                                <td>{{item.TOTAL_AMT | number:'.0'}}</td>
                                                <td>{{item.TYPE}}</td>
                                                <td>{{item.CREATE_DATE}}</td>
                                                <td>{{item.CREATE_USER}}</td>
                                                <td class="text-center">
                                                    <div class="tool">
                                                        <button type="submit" class="btn btn-success btn-sm" (click)="showConfirmViewHis(item.ACCOUNT_ID)">{{'global.view' | translate}}</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<!-- modal cấp data-->
<div class="modal fade" bsModal #createDataCimastModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">
                    {{'data_cimast.add_data' | translate}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="createDataCimastModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #trans="ngForm" (ngSubmit)="createDataCimast(trans.value)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <label>{{'data_cimast.account' | translate}}<span style="color:red;">
                                    (*)</span></label>
                            <angular2-multiselect [data]="dataAccount" [(ngModel)]="selectedAccountCreate" [settings]="settingsFilterAccount" name="accountID" (onSelect)="onItemSelectCreate()" (onDeSelect)="onItemSelectCreate()">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <label>{{'data_cimast.type' | translate}} <span style="color:red;">(*)</span></label>
                            <angular2-multiselect [data]="dataType" [(ngModel)]="selectedTypeCreate" [settings]="settingsFilterType" name="type">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <label>{{'data_cimast.total_data' | translate}}</label>
                            <input type="number" class="form-control" name="totalAmt" [(ngModel)]="totalAmt">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>{{'data_cimast.description' | translate}}</label>
                            <input type="text" class="form-control" placeholder="{{'data_cimast.description' | translate}}" name="description" [(ngModel)]="description" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" (click)="createDataCimastModal.hide()">{{ 'global.cancel' | translate }}</button>
                    <button type="submit" class="btn btn-success btn-sm" *ngIf="isAdmin">{{ 'global.confirm' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal Xem lich su cap data-->
<div class="modal fade" bsModal #viewDataAccountCimastTransModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">
                    {{'data_cimast.data_history' | translate}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="viewDataAccountCimastTransModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 form-group has-feedback">
                        <div class="table-responsive">
                            <table class="table table-bordered clear-bottom">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 60px">STT</th>
                                        <th class="text-center">{{'data_cimast.account' | translate}}</th>
                                        <th class="text-center">{{'data_cimast.total_amt' | translate}} (VNĐ)</th>
                                        <th class="text-center">{{'data_cimast.create_date' | translate}}</th>
                                        <th class="text-center">{{'data_cimast.create_user' | translate}}</th>
                                        <th class="text-center">{{'data_cimast.description' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody class="table-content">
                                    <tr *ngFor="let item of dataQuotaHistory; let i = index" [attr.data-index]="i">
                                        <td class="text-center">{{i + 1}}</td>
                                        <td>{{item.USER_NAME}}</td>
                                        <td>{{item.TOTAL_AMT}}</td>
                                        <td>{{item.CREATE_DATE}}</td>
                                        <td>{{item.CREATE_USER}}</td>
                                        <td>{{item.DESCRIPTION}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="viewDataAccountCimastTransModal.hide()">{{ 'global.back' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>